div {
  animation: so2 2s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;
}

div:hover {
  animation-play-state: paused;
}

@keyframes so2 {
  from {
    left: 0;
  }

  to {
    left: 200px;
  }
}

@keyframes so {
  0% {
    top: 0px;
    left: 0px;
  }

  25% {
    left: 200px;
    top: 0px;
  }

  50% {
    left: 200px;
    top: 200px;
  }

  75% {
    left: 0px;
    top: 200px;
  }

  100% {
    top: 0px;
    left: 0px
  }
}